In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/house_rent_train.csv")

In [3]:
data.head()

,posted_on,bhk,rent,size,floor,area_type,area_locality,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,2022-04-23,2,7000,450,1 out of 3,Carpet Area,safuipara,Kolkata,Furnished,Bachelors,2,Contact Owner
1,2022-04-23,1,6500,800,Ground out of 1,Carpet Area,Santragachi,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
2,2022-04-23,2,20000,700,1 out of 2,Super Area,Salt Lake City Sector 1,Kolkata,Furnished,Bachelors/Family,1,Contact Owner
3,2022-04-23,3,36125,1700,Ground out of 2,Super Area,Salt Lake City,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
4,2022-04-23,2,8000,650,1 out of 2,Super Area,"Garia Station, Garia",Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner

In [13]:
def extract_floor(floor_info: str) -> int:
    """층수 컬럼에서 실제 층수만 추출합니다.

    현재 층수 정보는 'X out of Y'로 되어 있습니다.
    여기에서 X만 추출하여 정수로 반환합니다.
    Upper basement, Lower basement, Ground out 등은 모두 0층으로 변환합니다.

    Args:
        floor_info (str): 층수 정보
    """
    # TODO
    # Split the string by space
    floor_list = floor_info.split()
    floor_str = floor_list[0]

    return int(floor_str) if floor_str.isdigit() else 0

In [4]:
def extract_floor(floor_info: str) -> int:
    """층수 컬럼에서 실제 층수만 추출합니다.

    현재 층수 정보는 'X out of Y'로 되어 있습니다.
    여기에서 X만 추출하여 정수로 반환합니다.
    Upper basement, Lower basement, Ground out 등은 모두 0층으로 변환합니다.

    Args:
        floor_info (str): 층수 정보
    """
    # TODO
    # Convert the floor_info string to lowercase for easier comparison
    floor_info = floor_info.lower()

    # Check if the string contains "basement" or "ground"
    if "basement" in floor_info or "ground" in floor_info:
        return 0

    # Split the string by space
    floor_list = floor_info.split()

    # Loop through the list and find the number
    for item in floor_list:
        if item.isdigit():
            return int(item)

    # If no number is found, return 0
    return 0

In [8]:
data.floor.head()

0         1 out of 3
1    Ground out of 1
2         1 out of 2
3    Ground out of 2
4         1 out of 2
Name: floor, dtype: object

In [14]:
extract_floor(data.floor[4])

1